.auscrest {
  width: 15%;
}

.wrap-flexbox {
    top: 2%;
    right: 2%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    min-width: 740px;
}

.inner-flexbox {
  align-self: center;        
}
