
.accused {
	width: 50%;

}

.wrap-flexbox {
  height: 100%;
  width: 100%;
  /*position: fixed;*/
  display: flex; 
  justify-content: flex-end;
}

.inner-flexbox {
  align-self: center;   
  margin-top: 20%;     
}
