.content {
  width: 90%;
}


.wrap-flexbox {
  width: 100%;
  display: flex;
  justify-content: center;
  /* [2] */
  min-width: 0px;
}

.inner-flexbox {
  align-self: center;
}

div.quote blockquote {
  margin-bottom: 0;
}

div.quote blockquote p {
  margin-bottom: 0;
}

div.quote blockquote::before {
  content: "";
}
div.quote blockquote::after {
  content: "";
  margin-left: 100%;
}

div.quote p {
  font-size: 18px;
}

.reflection {
  height: initial !important  
} 

.reflection div {
  height: initial !important  
} 

.reflection div.mdl-card__supporting-text {
  padding-top: 30px;
} 


div.quoteRef p {
  margin-left: 10%;
  margin-top: -2%;
  padding-bottom: 20;
}

.auscrest {
  width:20%;
  position: fixed;
  top: 10%;
}

.wrap-auscrest {
  top: 10%;
  width: 100%;
  position: fixed;
  display: flex;
  /* [1] */
  justify-content: center;
  /* [2] */
  z-index: 0;
}

.inner-auscrest {
  align-self: center;
}