.jury {
	width: 25%;
}

.wrap-flexbox {
  height: 100%;
  position: fixed;
  display: flex;                /* [1] */
  min-width: 740px;
 
}

.inner-flexbox {
  left: 10px;
  align-self: center;  
  margin-top: 20%;      
}
