.view {
  background-color: black;
  width: 100%;
  overflow: scroll;
}

.list-item {
  border-top-color: aliceblue;
  border-top-style: inset;
  border-top-width: 1px;
}

.list-item:hover {
  background: lightgray
}

.list-item:active {
  background: lightgreen
}

.list {
  margin-top: 0;
  padding-top: 0;
}

.list-content {}

.content {
  width: 90%;
}

.wrap-flexbox {
  margin-top: 338px;
  width: 100%;
  display: flex;
  justify-content: center;
  /* [2] */
}

.inner-flexbox {
  align-self: center;
}


/*  */

.judge {
  width: 560px;
  position: fixed;
  top: 119px;
  min-width: 230px;
}

.wrap-judge {
  top: 15%;
  width: 100%;
  position: fixed;
  display: flex;
  /* [1] */
  justify-content: center;
  /* [2] */
  z-index: 0;
}

.inner-judge {
  align-self: center;
}