.judge {
	width: 25%;
}

.wrap-flexbox {
  top: 15%;
  width: 100%;
  position: fixed;
  display: flex;                /* [1] */ 
  justify-content: center;      /* [2] */ 
  min-width: 740px;

}

.inner-flexbox {
  align-self: center;        
}

