.view {
	background-color: black ;
	width: 100%;
}

.content {
	width: 90%;
}

.wrap-flexbox {
  width: 100%;
  display: flex; 
  justify-content: center;      /* [2] */  
  min-width: 740px;
 
}

.inner-flexbox {
  align-self: center;     
}


