.view {
	background-color: black;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

h1 {
	font-family: 'Droid Serif', serif;
}

h2 {
	font-family: 'Droid Serif', serif;
}
h3 {
	font-family: 'Droid Serif', serif;
}

p {
	font-family: 'Droid Serif', serif;
}

div {
	font-family: 'Droid Serif', serif;
}